<!--  <div class="nav-bar">
	 <ul ngbNav #nav="ngbNav" class="nav-tabs">
	  <li ngbNavItem>
	    <a ngbNavLink>Go Organic</a>
	  </li>
		  <li ngbNavItem >
		  		  <div class="about">

		  	 <a (click)="clickAbout()" ngbNavLink about style= "color: #070e0e ">
		          About
		        </a>
		        	   </div>

		  </li>
	</ul>
</div> -->
<div class="topnav">
  <a (click)="clickHome()">Go Organic</a>
  <a style="float:right" href="#about">About</a>
  <a style="float:right" href="#news">Cart</a>
  <a (click)="clickAbout()" style="float:right" >Contact</a>
</div> 