<header></header>
<div class="section">
	    <button id="home-id"
		      > <span> Order Now </span>
		  </button>
<!-- 
        <button id="home-id"
           (click)="clickOrderNow()"> <span> Order Now </span>
      </button> -->

        <div class="video-container">
            <div class="color-overlay"></div>
            <video autoplay loop muted>
                <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4"> 
                <!-- <source src="https://github.com/polamus/goorganic-ui/blob/update_application_with_standard_flow/src/app/assets/organic.mp4?raw=true" type="video/mp4"> -->

            </video>
        </div>

    </div>
<nav class="navbar-fixed-bottom">
  <footer></footer>
</nav>>    
